#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    /* background-image: url('https://img.freepik.com/fotos-premium/estudio-disenador-moda-mesa-trabajo_35674-2291.jpg?w=900'); */
    background-repeat: no-repeat;
  
    
  }